[submodule "visp_tracker"]
	path = visp_tracker
	url = git://github.com/laas/visp_tracker.git
[submodule "visp_hand2eye_calibration"]
	path = visp_hand2eye_calibration
	url = git://github.com/lagadic/visp_hand2eye_calibration.git
[submodule "visp_camera_calibration"]
	path = visp_camera_calibration
	url = git://github.com/lagadic/visp_camera_calibration.git
[submodule "visp_bridge_calibration"]
	path = visp_bridge_calibration
	url = git://github.com/lagadic/visp_bridge_calibration.git
[submodule "visp_bridge"]
	path = visp_bridge
	url = git://github.com/lagadic/visp_bridge.git
