<!-- -*- xml -*-

     This tutorial relies on a recorded video sequence where the
     camera is fixed in front of QR code planar target. The model 
     corresponding to this target is given into the models directory 
     of this package.

     See http://www.ros.org/wiki/visp_auto_tracker for more information.

  -->
<launch>
  <!-- Play the video sequence, publish the clock topic to preserve
       the original timestamps. -->
  <node pkg="rosbag" type="play" name="play" args="--clock -l
  $(find visp_auto_tracker)/bag/tutorial-qrcode.bag"/>

  <!-- Launch the tracking node -->
  <node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker" output="screen">
    <param name="model_path" value="$(find visp_auto_tracker)/models" />
    <param name="model_name" value="pattern" />
    <param name="debug_display" value="True" />
    <!-- param name="code_message" value="Ver1" / -->
    
    <remap from="/visp_auto_tracker/camera_info" to="/camera/camera_info"/>
    <remap from="/visp_auto_tracker/image_raw" to="/camera/image_raw"/>
  </node>

  <!-- Launch the viewer -->
  <!-- node pkg="visp_tracker" type="visp_tracker_viewer" name="tracker_mbt_viewer" output="screen">
    <param name="camera_prefix" value="/camera" />
    <param name="frame_size" value="0.1" />
    <remap from="/camera/image_rect" to="/camera/image_raw"/>
    <remap from="/object_position_covariance" to="/visp_auto_tracker/object_position_covariance"/>
  </node -->

</launch>
