<launch>
  <arg name="config" />	
  <arg name="images_path" default="/home/fnovotny/playground/flashcode_mbt/data/images/test-%010d.jpg" />
    <param name="model_path" value="/home/fnovotny/fuerte_workspace/vision_visp/visp_auto_tracker/models" />
    <param name="model_name" value="pattern" />

  <node pkg="visp_tracker" type="tracker" name="tracker" output="screen" >
    <param name="camera_prefix" value="/usb_cam" />
    <remap from="/usb_cam/image_rect" to="/usb_cam/image_raw" />
    <param name="model_path" value="package://visp_auto_tracker/models" />
    <param name="model_name" value="pattern" />
    <rosparam file="$(find visp_auto_tracker)/models/pattern/tracker.yaml" />

  </node>

  <!-- nodelet manager process -->
  <node pkg="nodelet" type="nodelet" name="visp_nodelet_manager" args="manager" />

  <!-- Launch the tracking node -->
  <node pkg="nodelet" type="nodelet" name="visp_auto_tracker"
        args="standalone visp_auto_tracker/AutoTrackerNodelet" output="screen" >
	<param name="tracker_config_file" type="string" value="$(arg config)" />
	<remap from="image_raw" to="/usb_cam/image_raw" />
	<remap from="object_position" to="/object_position" />

	<remap from="camera_info" to="/usb_cam/camera_info" />
  </node>


<node pkg="visp_tracker" type="viewer" name="tracker_mbt_viewer"/>
  <node pkg="tf" type="static_transform_publisher" name="tm_bc" args="0 0 0  0.0 0.0 0.0 /world /head_camera 100" />

  <node pkg="tf" type="static_transform_publisher" name="odometry_frame_broadcaster" args="0 0 0  0.0 0.0 0.0 /world /base_link 100" />
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" >
      <param name="images_directory" type="string" value="$(arg images_path)" />
      <param name="image_width" type="int" value="640" />
      <param name="image_height" type="int" value="480" />
      <param name="io_method" type="string" value="video" />
      <rosparam param="D">[-0.01484690262, 0.,0., 0., 0.000]</rosparam>
      <rosparam param="P">[543.1594454, 0.0, 320.1025306, 0.0, 0.0, 539.1300717, 212.8181022, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam>
      <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
      <rosparam param="K">[543.1594454, 0.0, 320.1025306, 0.0, 539.1300717, 212.8181022, 0.0, 0.0, 1.0]</rosparam>
      <param name="wait_time" type="double" value=".5"/>
  </node>

</launch>