<!-- -*- xml -*- -->
<launch>
  <node pkg="rosbag" type="rosbag" name="rosbag"
        args="play $(find visp_tracker)/bag/tutorial-static-box.bag -l"/>

  <group ns="tracker1">
    <node pkg="visp_tracker" type="tracker" name="tracker_mbt">
      <param name="camera_prefix" value="/wide_left/camera" />
      <param name="child_frame_id" value="box1" />
    </node>

    <node pkg="visp_tracker" type="client" name="tracker_mbt_client">
      <param name="model_path" value="$(find visp_tracker)/models" />
      <param name="model_name" value="laas-box" />
      <rosparam file="$(find visp_tracker)/models/laas-box/tracker.yaml" />
    </node>
  </group>

  <group ns="tracker2">
    <node pkg="visp_tracker" type="tracker" name="tracker_mbt">
      <param name="camera_prefix" value="/wide_left/camera" />
      <param name="child_frame_id" value="box2" />
    </node>

    <node pkg="visp_tracker" type="client" name="tracker_mbt_client">
      <param name="model_path" value="$(find visp_tracker)/models" />
      <param name="model_name" value="laas-box" />
      <rosparam file="$(find visp_tracker)/models/laas-box/tracker.yaml" />
    </node>
  </group>
</launch>
